h1.tittle{
	color:black;
	font-family:'times new roman', georgia, serif;
	font-size: 30px;
	text-align:center;
	padding:0px 0px 20px 0px;
}

.box1 {
border:1px solid #999999;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  font-size:24px;
  padding: 5px 15px 5px 15px;
  text-decoration:none;
  display:inline-block;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  font-weight:bold;
  color: #000000;
  background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#CFCFCF);
}


body {
}

#header {

	color:#00FFFF;
	font-family:times new roman, georgia, serif;
	font-size: 30px;

	background-color:aqua;

}

.lang {
	float:right;
	padding:20px 2px 20px 2px;
}
